<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name = "android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".chooseschool_afterlogin"></activity>
        <activity android:name=".navigationreplace" />
        <activity android:name=".login" />
        <activity android:name=".bookmark" />
        <activity android:name=".orgSearch" />
        <activity android:name=".onClick_PopUp"
            android:theme = "@style/Theme.AppCompat.DayNight.Dialog.MinWidth"/>
        <activity
            android:name=".splashowl"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".searchResult" />
        <activity
            android:name=".navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mainsearch" />
        <activity android:name=".schoolLogin" />
        <activity android:name=".findschoolActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>